*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

div.container{
    background-color:#eaf8ff;
    color:#2563EB;
    border-radius: 30px;
}

form#frmLogin{
    background-color:rgb(55, 243, 243);
    margin: 50px;
    border-radius: 30px;
    font-weight: bolder;
}

h3{
    color:#da5f0d;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: larger;
    text-align: center;
}

div.from-group{
    margin-bottom: 10px;
    margin-top: 10px;
}

label{
    color:rgb(199, 39, 11);
    font-weight: bolder;
}

div.nut-bam input{
    color: #2563EB;
    font-weight: bolder;
    border-radius: 10px;
}